.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}



.heading>h2{
    color:#ff6600
}

.formFields>form>input{
    height: 35px;
    width: 250px;
    margin-right: 25px;
    border:2px solid #ff6600 ;
    border-radius: 6px;
}

.formFields>form>button{
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-color: #ff6600;
    height: 38px;
    width: 90px;
    margin-right: 25px;
    border-radius: 6px;
}

.resultSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}
table,thead,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}

table>thead{
    background-color: #ff6600;
}